# ========================
# Dependency directories
# ========================
**/node_modules/

# ========================
# Environment variables (in any folder)
# ========================
**/.env
**/.env.*

# ========================
# Build / Test / Output
# ========================
**/build/
**/dist/
**/coverage/
**/.next/
**/.turbo/

# ========================
# Uploaded files (local dev only)
**/uploads/*

# ========================
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Editor / OS-specific
.DS_Store
Thumbs.db

# ========================
# VSCode project settings (optional)
.vscode/
